@import '~bootstrap/scss/bootstrap';
body {
    background-image: url('../img/page_bg.jpg');
    background-size: cover;
    font-family: sans-serif;
}
header{
    li{
        list-style: none;
        padding: 1rem;
        a{
            text-decoration: none;
            color: black;
            font-weight: 700;
        
        }
    }
}